<ion-view view-title= "{{location.address}}">
  <ion-content class="has-header">

    <div class= "row">
      <div class="padding">
          <h4>{{location.address}}</h4>
          <h4>{{location.city}}, {{location.state}} {{location.zipcode}}</h4> 

          <p class="subheading"><strong>Garage</strong></p>
          <p>5 minute walk from campus</p> <br>

          <p><strong># CARS: </strong>2</p>
          <p><strong>CAR TYPES: </strong>Sedan, SUV</p> 
          
        </div>
    </div>

  </ion-content>
</ion-view>
