<ion-view view-title= "Add Location">
  <ion-content class="has-header">

    <div class= "row">
      <form id="location" ng-submit="newLocation()">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Space Type
            </div>
            <select ng-model="locData.spot_type">
              <option>Garage</option>
              <option>Driveway</option>
              <option>Street</option>
            </select>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Minutes from campus</span>
            <input type="text" ng-model="locData.min_to_campus"placeholder="5">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label"># Cars</span>
            <input type="text" ng-model="locData.num_cars" placeholder="1">
          </label>
          <div class="item item-divider">Suitable Car Types</div>
          <ul>
            <li class="item item-checkbox">
               <label class="checkbox">
                 <input type="checkbox" ng-model="locData.car_type" value="SUV">
               </label>
               SUV
            </li>
            <li class="item item-checkbox">
               <label class="checkbox">
                 <input type="checkbox" value="Sedan">
               </label>
               Sedan
            </li>
            <li class="item item-checkbox">
               <label class="checkbox">
                 <input type="checkbox" value="Minivan">
               </label>
               Mini-van
            </li>
            <li class="item item-checkbox">
               <label class="checkbox">
                 <input type="checkbox" value="Truck">
               </label>
               Truck
            </li>
          </ul>
          <div class="item item-divider">Address</div>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Street</span>
            <input type="text" ng-model="locData.address" placeholder="1 Apple Ct.">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">City</span>
            <input type="text" ng-model="locData.city" placeholder="Pittsburgh">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">State</span>
            <input type="text" ng-model="locData.state" placeholder="Pennsylvania">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Zip Code</span>
            <input type="text" ng-model="locData.zip_code" placeholder="Apt. 123">
          </label>
        </div>
        <h1 class="title"> <button type="submit" class="button button-full button-clear"> CreateLocation </button> </h1>
      </form>
    </div>

  </ion-content>
</ion-view>